<div class="row">
  <h1>Names greeted</h1>
  <div class="row">
  <table>
      <tr>
        
          <td>Hello, {{greeted_names}} has been greeted {{spotted_greetings}} times</td>
      </tr>

  </table>
  </div>
  <a href = "javascript:history.back()">Back to previous page</a>
</div>